{% extends 'base_admin.html.twig' %}

{% block title %}Edit Groupe{% endblock %}
{%block stylesheets%}
<style>
    .submit{
        width: 100px;
        height: 40px;
        margin-bottom: 20px;
        margin-left: 85%;
    }
</style>
{%endblock%}
{% block body %}
    <h1>Edit Groupe</h1>

    {{ include('groupe/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
