{% extends 'base.html.twig' %}
 {%block stylesheets%}
<style>
    .contact_form {
        padding-bottom: 10%;
    }
    .ajouter{
  
        margin-left: 80%;
    }
</style>
{%endblock%} 
{% block title %}New VideoConference{% endblock %}

{% block body %}
      	<!-- Home -->

          <div class="home">
            <div class="breadcrumbs_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="courses.html">Cours</a></li>
                                    <li><a href="{{path('cours_show',{'id':video_conference.Cours.id})}}">{{video_conference.Cours.libelle}}</a></li>
                                    <li>Ajouter une vidéo conférence</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div> 
    
    {{ include('video_conference/_form.html.twig') }}

    <a href="{{ path('video_conference_index') }}">back to list</a>
{% endblock %}
{%block javascripts%}
<script>
    $(document).ready(function(){
        $('#video_conference_date').attr('type','datetime-local');
    });
</script>
{%endblock%}