<form method="post" action="{{ path('section_delete', {'id': section.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="width:50px;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <input type="image" name="submit" src="{{asset('images/supprimer.png')}}" border="0" alt="Submit" style="width: 50px;" />
   
</form>
