{% extends 'base_admin.html.twig' %}

{% block title %}Edit Cours{% endblock %}
{%block stylesheets%}
<style>
    .submit{
        width: 100px;
        height: 40px;
        margin-bottom: 20px;
        margin-left: 90%;
        margin-top: 20px;
    }

    .remove{
        width: 100px;
        height: 40px;
        margin-top: -90px;
       
    }


</style>
{%endblock%}
{% block body %}
    <h1>Edit Cours</h1>


    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}

  

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
